<header class="navbar navbar-expand-md navbar-dark bd-navbar">
    <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">

      <a class="navbar-brand p-0 me-2" aria-label="Bootstrap">
        <img src="/assets/images/pikachu.png" width="40" height="40">
      </a>
  
      <div class="collapse navbar-collapse" id="bdNavbar">

        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">

          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" [routerLink]="['/dashboard/home']" routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item col-6 col-md-auto">
            <a class="nav-link p-2" [routerLink]="['/dashboard/buscar']" routerLinkActive="active">Buscar</a>
          </li>

        </ul>

      </div>

      <a class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3 btn-outline-warning" target="blank" href="https://pokeapi.co/">Go pokeApi</a>

    </nav>

  </header>
